@{
    ViewData["Title"] = "Game Page";
}

<div>
    <h2>New Player Info</h2>
    <p>Name: @Model.Name</p>
    <p>Gender: @Model.Gender</p>
    <p>Race: @Model.Race</p>
    <p>Age: @Model.Age</p>
    <p>Hair Color: @Model.HairColor</p>
    <p>Strength: @Model.Strength</p>
</div>
